@page
@using ICSCOMP1640CORE.Models
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/Register/Register.css" />
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-register shadow bg-white rounded">
        <div class="title">
			<h2>Register</h2>
		</div>

        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-floating">
            <label asp-for="Input.FullName"></label>
            <input type="text" maxlength="40" asp-for="Input.FullName" placeholder="Full Name" class="form-control" style="box-sizing: content-box !important; height: 15px;" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>
        <div class="form-floating">
			<label>Gender</label>
			@*@Html.DropDownListFor(m => m.Input.Gender, new SelectList(Enum.GetValues(typeof(Gender))),"Select Gender",
            new { style="box-sizing: content-box !important; height: 30px; padding: 9px 0 9px 0"} )*@
            <select asp-for="Input.Gender" data-val-regex="Gender is required" asp-items="@(new SelectList(Enum.GetValues(typeof(Gender))))" class="form-control"
            style="box-sizing: content-box !important; height: 30px; padding: 9px 0 9px 0", required = "required" >
            <option value="">Gender</option>
            <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </select>
		</div>
        <div class="form-floating">
            <label asp-for="Input.PhoneNumber"></label>
            <input type="tel" data-val-regex="Phone number must be 10 numbers" data-val-regex-pattern="[0-9]{3}[0-9]{3}[0-9]{4}" asp-for="Input.PhoneNumber" placeholder="Phone Number" class="form-control" style="box-sizing: content-box !important; height: 15px;"/>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Input.Address"></label>
            <input type="text" maxlength="30" asp-for="Input.Address" placeholder="Address" class="form-control" style="box-sizing: content-box !important; height: 15px;"/>
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Input.Age"></label>
            <input type="number" asp-for="Input.Age" min=23 max=60 placeholder="Age" class="form-control" style="box-sizing: content-box !important; height: 15px;"/>
            <span asp-validation-for="Input.Age" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Input.Email"></label>
            <input type="email" asp-for="Input.Email" placeholder="Email" class="form-control" style="box-sizing: content-box !important; height: 15px;" required/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <label asp-for="Input.Password"></label>
            <input type="password" data-val-regex="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
				data-val-regex-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" asp-for="Input.Password" placeholder="Password" class="form-control"
                style="box-sizing: content-box !important; height: 15px;" required/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <label asp-for="Input.ConfirmPassword"></label>
            <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" style="box-sizing: content-box !important; height: 15px;" required/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-floating">
			<label>Department</label>
			<select asp-for="Input.DepartmentId" data-val-regex="Please choose your Department" asp-items="@(new SelectList(Model.Departments, "Value", "Text"))" class="form-control"
            style="box-sizing: content-box !important; height: 30px; padding: 9px 0 9px 0", required = "required" >
            <option value="">Your Department</option>
            <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
            </select>
		</div>

        <div class="register">
            <button type="submit" class="button-register">Register</button>
        </div>

        <div class="manage">
			<p>
				Already have an account? <a class="link-manage" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login Here!</a>
			</p>
		</div>
    </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@