@using ICSCOMP1640CORE.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="~/img/favicon-32x32.png.ico" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ICSCOMP1640CORE</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mt-2">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					    <img src="~/img/Logo.ico" width="30" height="30" alt="">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="nav navbar-nav" style="gap: 15px;">
						@if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole(Role.Admin))
							{
								<li>@Html.ActionLink("Departments", "DepartmentsIndex", "Admins")</li>
								<li>@Html.ActionLink("Managers", "ManageManagers", "Admins")</li>
								<li>@Html.ActionLink("Coordinators", "ManageCoordinators", "Admins")</li>
								<li>@Html.ActionLink("Staffs", "ManageStaffs", "Admins")</li>
								<li>@Html.ActionLink("Ideas", "ManageIdeas", "Admins")</li>
								<li>@Html.ActionLink("Period", "AcademicIdeaPeriodSet", "Admins")</li>
							}
							if (User.IsInRole(Role.Manager))
							{
								<li>@Html.ActionLink("Categories", "ManageCategories", "Managers")</li>
								<li>@Html.ActionLink("Coordinators", "ManageCoordinators", "Managers")</li>
								<li>@Html.ActionLink("Ideas", "ManageIdea", "Managers")</li>
								<li>@Html.ActionLink("Statistics", "DepartmentsIndex", "Managers")</li>
							}
							if (User.IsInRole(Role.Coordinator))
							{
								<li>@Html.ActionLink("Staffs", "ManageStaffs", "Coordinators")</li>
								<li>@Html.ActionLink("Ideas", "GetIdeaFromCoor", "Coordinators")</li>
								<li>@Html.ActionLink("Statistics", "DataStatistics", "Coordinators")</li>
							}
							if (User.IsInRole(Role.Staff))
							{
								<li>@Html.ActionLink("Ideas", "IdeaIndex", "Staffs")</li>
							}

						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-muted align-content-center">
		<div class="container text-center" style="padding: 10px 0 10px 0;">
			&copy; 2022 - ICSCOMP1640CORE
		</div>
		@*<div class="container text-center" style="padding: 10px 0 10px 0;">
			&copy; 2022 - ICSCOMP1640CORE <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>*@
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
