@model ICSCOMP1640CORE.Models.Department;
@{
    ViewBag.Title = "Create A Department";
}
<head>
  <link rel="stylesheet" href="~/css/CreateDepartment/CreateDepartment.css">
</head>
<div class="Frame"><center><h1>Create A Department</h1></center>

<form asp-controller="Admins" asp-action="CreateDepartment" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group Name">
        <label>Department Name</label>
        @Html.TextBoxFor(t => t.DepartmentName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartmentName, "",
             new { @class = "text-danger" }
         )
    </div>
    <div class="form-group Name">
        <label>Description</label>
        @Html.TextBoxFor(t => t.Description, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "",
             new { @class = "text-danger" }
         )
    </div>
    <div class="form-group button">
        <button type="submit" class="btn btn-outline-success col-1 Create">Create</button>
        <a class="nav-link btn btn-outline-primary col-1 fas fa-reply Back" asp-controller="Admins" asp-action="DepartmentIndex">   Back</a></center>
    </div>
    
</form></div>