@model ICSCOMP1640CORE.Models.Department;
@{
    ViewBag.Title = "Create A Department";
}
<head>
  <link rel="stylesheet" href="~/css/CreateDepartment/CreateDepartment.css">
</head>
<center><h1 style = "border-bottom: 1px solid #ccc; padding: 10px 0px 10px 0px">Create A Department</h1></center>

<form asp-controller="Admins" asp-action="CreateDepartment" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="width:50%">
        <label>Department Name</label>
        @Html.TextBoxFor(t => t.DepartmentName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartmentName, "",
             new { @class = "text-danger" }
         )
    </div>
    <div class="form-group" style="width:50%">
        <label>Description</label>
        @Html.TextBoxFor(t => t.Description, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "",
             new { @class = "text-danger" }
         )
    </div>
    <div class="form-group" style = "display: flex; gap:10px;">
        <button type="submit" class="btn btn-outline-success" style="margin-top: 10px">Create</button>
        <a class="nav-link btn btn-outline-primary" style="margin-top: 10px" asp-controller="Admins" asp-action="DepartmentIndex">   Back</a></center>
    </div>
    
</form>