@model IEnumerable<ICSCOMP1640CORE.Models.Department>
@{
    ViewData["Department List"] = "";

}
<head>
  <link rel="stylesheet" href="~/css/DepartmentIndex/DepartmentIndex.css">
</head>
<h2>Departments</h2>
<form asp-controller="Admins" asp-action="Index" method="get">
    <center><a class="nav-link btn btn-outline-primary col-3 fas fa-reply" asp-controller="Admins" asp-action="CreateDepartment">Create a new Department</a></center>
    <div class="form-group Search">
        @Html.TextBox("searchString", null, new { @class = "form-control" })
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Department Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.DepartmentId</th>
                <td>@item.DepartmentName</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteDepartment", "Admins", new { id = item.DepartmentId }, new { @class = "btn btn-outline-danger" })
                    @Html.ActionLink("Edit", "EditDepartment", "Admins", new { id = item.DepartmentId }, new { @class = "btn btn-outline-success" })
                </td>
            </tr>
        }
    </tbody>
</table>
</form>