@model List<ICSCOMP1640CORE.Models.User>


<h1>QA Coordinator Account account</h1>

<main>

	<a class="nav-link btn btn-outline-success" asp-controller="Admins" asp-action="CreateCoordinator">Create</a>


	<table class="table">
		<thead class="thead-dark">
			<tr>

				<th scope="col">Full Name</th>
				<th scope="col">Address</th>
				<th scope="col">Age</th>
				<th scope="col">Email</th>
				<th scope="col">Gender</th>
				<th scope="col">Phone number</th>
				<th scope="col">Department</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>

					<td>@item.FullName</td>
					<td>@item.Address</td>
					<td>@item.Age</td>
					<td>@item.Email</td>
					<td>@item.Gender</td>
					<td>@item.PhoneNumber</td>
					<td>@item.Department.Name</td>
					<td>
						@Html.ActionLink("Delete", "Delete", "Admins", new { Id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt" })
						@Html.ActionLink("Edit", "EditCoordinator", "Admins", new { Id = item.Id }, new { @class = "btn btn-outline-info fas fa-edit" })
						@Html.ActionLink("InforCoordinator","InforCoordinator","Admins",new { Id = item.Id }, new { @class = "btn btn-outline-warning fas fa-unlock-alt" })
					</td>
				</tr>
			}
		</tbody>
	</table>
	<center><a class="nav-link btn btn-outline-primary col-3 fas fa-reply" asp-controller="Admins" asp-action="Index">Back to previous page</a></center>
</main>
