@using ICSCOMP1640CORE.Utilities
@model IEnumerable<ICSCOMP1640CORE.Models.Idea>
@{
	ViewBag.Title = "Ideas";

	Pager pager = new Pager();

	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}


@using (Html.BeginForm("ManageIdeas", "Admins", FormMethod.Get))
{
	<div class="d-flex flex-sm-row flex-column justify-content-between mb-4 mt-2" style="align-items: baseline;">
		<h2 class="flex-row text-center mt-2">Ideas</h2>
		<div class="d-flex mt-2 align-self-md-baseline align-self-sm-stretch" style="gap: 4px">
			@Html.TextBox("searchString" ,null, new { @class = "form-control", @placeholder = "Find By Name" })
			<button type="submit" class="btn btn-primary"><i class="fa fa-search rounded-circle" aria-hidden="true"></i></button>
		</div>
	</div>
}

<main>

	@foreach (var item in Model)
	{
		<div class="card text-white bg-secondary mb-3 rounded">
			<div class="card-body ">
				<div class="row">
					<h4 class="card-title col">Idea name : @item.IdeaName</h4>
					<p class="col-5"></p>
					<p class="card-text col" style="top: 5px;">Submit date : @item.SubmitDate</p>
				</div>

				<div class="row">
					<p class="card-text col">Author: @item.User.FullName</p>
					@Html.ActionLink("View", "DetailIdea", "Admins", new { id = item.Id }, new { @class = "btn btn-info btn-outline-warning col-1", @title = "Info" })
				</div>
				<p>Category : @item.Category.Name </p>
			</div>
		</div>
	}
</main>
