@using ICSCOMP1640CORE.Utilities
@model IEnumerable<ICSCOMP1640CORE.Models.Category>
@{
	ViewBag.Title = "Categories";

	Pager pager = new Pager();

	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}


@using (Html.BeginForm("ManageCategories", "Managers", FormMethod.Get))
{
	<div class="d-flex flex-sm-row flex-column justify-content-between mb-4 mt-2" style="align-items: baseline;">
		<h2 class="flex-row text-center mt-2">Categories Index</h2>
		<div class="d-flex mt-2 align-self-md-baseline align-self-sm-stretch" style="gap: 4px">
			@Html.TextBox("searchCategory", null, new { @class = "form-control", @placeholder = "Find By Name" })
			<button type="submit" class="btn btn-primary"><i class="fa fa-search rounded-circle" aria-hidden="true"></i></button>
		</div>
	</div>
}


<div class="table-responsive">
	<table class="table table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col" class="col-5">Category</th>
				<th scope="col" class="col-6">Description</th>
				<th scope="col" class="col-2">Edit</th>
				<th scope="col" class="col-2">Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="align-middle" scope="row">@item.Name</td>
					<td class="align-middle" scope="row">@item.Description</td>
					<td class="align-middle">
						@Html.ActionLink("", "EditCategory", "Managers", new { id = item.Id }, new { @class = "btn btn-success fas fa-edit", @title = "Edit" })
					</td>
										<td class="align-middle">
						@Html.ActionLink("", "DeleteCategory","Managers", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash", @title = "Delete" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="d-flex align-items-start justify-content-between mt-3">
	<a class="btn btn-primary"  asp-area="" asp-controller="Managers" asp-action="CreateCategory">Create Category</a>
	@if (pager.TotalPages > 1)
	{
		<ul class="pagination justify-content-end">

			@if (pager.CurrentPage > 0)
			{
				<li class="page-item">
					<a class="page-link" asp-controller="Admins" asp-action="DepartmentsIndex" asp-route-pg="1">First</a>
				</li>
				<li class="page-item">
					<a class="page-link" asp-controller="Admins" asp-action="DepartmentsIndex" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
				</li>
			}

			@for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
			{
				<li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
					<a class="page-link" asp-controller="Admins" asp-action="DepartmentsIndex" asp-route-pg="@pge">@pge</a>
				</li>
			}

			@if (pager.CurrentPage < pager.TotalPages)
			{
				<li class="page-item">
					<a class="page-link" asp-controller="Admins" asp-action="DepartmentsIndex" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
				</li>
				<li class="page-item">
					<a class="page-link" asp-controller="Admins" asp-action="DepartmentsIndex" asp-route-pg="@(pager.TotalPages)">Last</a>
				</li>
			}
		</ul>
	}
</div>
