@model IEnumerable<ICSCOMP1640CORE.Models.Category>

<h1 style="text-align: center; margin-bottom: 30px; border-bottom: 1px solid #ccc; line-height: 5rem">Category</h1>
<main>
	<div>
		@using (Html.BeginForm("ManageCategories", "Managers", FormMethod.Get))
		{
			<p>
				Find By Name: @Html.TextBox("searchCategory")
				<input type="submit" value="Search" />
			</p>
		}
	</div>
	<br>
	<br>
	<table style="text-align: center" class="table">
		<thead class="thead-dark">
			<tr>

				<th scope="col">Category</th>
				<th scope="col">Description</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>

					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>
						@Html.ActionLink("Delete", "DeleteCategory","Managers", new { Id = item.Id }, new { @class = "btn btn-outline-danger mb-3 col-sm-4 fas fa-trash-alt space" })
						@Html.ActionLink("Edit", "EditCategory", "Managers", new { id = item.Id }, new { @class = "btn btn-outline-info mb-3 col-sm-4 fas fa-edit" })
					</td>
				</tr>
			}
		</tbody>
	</table>
	<center><a class="btn btn-outline-success fas fa-plus " asp-area="" asp-controller="Managers" asp-action="CreateCategory"> Add new one category</a></center>
</main>
