@model ICSCOMP1640CORE.Models.Idea




<h1>Edit Idea</h1>
@if (TempData["Danger"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <strong>@TempData["Danger"]</strong>
    </div>
}
<form asp-controller="Staffs" asp-action="EditIdea" method="post">
    @Html.HiddenFor(m => m.IdeaId)
    <div class="form-group">
        <label>Idea Name</label>
        <input required type="text" class="form-control" placeholder="Input Idea Name" asp-for="IdeaName">
        <span asp-validation-for="IdeaName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Idea Content</label>
        <input required type="text" class="form-control" placeholder="Input Content" asp-for="IdeaContent">
        <span asp-validation-for="IdeaContent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Submit Date</label>
        @Html.TextBoxFor(model => model.SubmitDate, "", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.SubmitDate, "",
          new { @class = "text-danger" }
        )
    <div class="form-group">
        <label>Category</label>
        @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as SelectList,
                  "Select Department", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-outline-success">Edit</button>

</form>

<center><a class="nav-link btn btn-outline-primary col-3 fas fa-reply" asp-controller="Staffs" asp-action="Index">   Back to previous page</a></center>