@model IEnumerable<ICSCOMP1640CORE.Models.Idea>


<h1>Idea List Of Staff Department</h1>
<head>
  <link rel="stylesheet" href="~/css/IdeaIndex/IdeaIndex.css">
</head>
<main>

                    <a class="nav-link btn btn-outline-success" asp-controller="Staffs" asp-action="CreateIdea">Create</a>


    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Author</th>
                <th scope="col">Created In</th>
                <th scope="col">Idea Name</th>
                <th scope="col">Idea Content</th>
                <th scope="col">Category</th>
                <th scope="col">Department</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*@if (item.IsAnonymous == true) {
                        <td>Anonymous</td>
                    } else
                    {
                        <td>@item.User.FullName</td>
                    }*@
                    <td>@item.Creator</td>
                    <td>@item.SubmitDate.ToString("dd/mm/yyyy hh:mm tt")</td>
                    <td>@item.IdeaName</td>
                    <td>@item.Content</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Department.Name</td>
                    <td>
                        @*@Html.ActionLink(" Delete", "DeleteIdea", "Staffs", new { id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt" })*@
                        @Html.ActionLink(" Edit", "EditIdea", "Staffs", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-edit" })
                        @Html.ActionLink(" View", "IdeaDetail", "Staffs", new { id = item.Id }, new { @class = "btn btn-outline-info 	fa fa-info-circle" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class = "frame"></div>
</main>