@model ICSCOMP1640CORE.Models.Idea
@{
	ViewData["Title"] = "Idea";
}

<head>
  <link rel="stylesheet" href="~/css/Idea/IdeaDetail.css">
</head>

<h4 style="text-align: center; margin: 15px 0 10px 0;">Idea by</h4>

<body>
	<div class="infor">
		<div class="title">
			<div class="title-Infor" style="font-size:35px;text-align: center; padding-bottom:10px;">
				@Model.NameCreator
			</div>
			<div style="font-size:23px;text-align: center; padding-bottom:18px;">
				@Model.IdeaName
			</div>
			<div style="text-align: center; display: flex; flex-direction: column; gap: 10px;">
				<p style="margin-bottom: 0px;">Email: @Model.EmailCreator</p>
				<p style="margin-bottom: 0px;">Submit At: @Model.SubmitDate.ToString("dd/mm/yyyy hh:mm tt")</p>
				<p style="margin-bottom: 0px;">Category: @Model.Category.Name</p>
				<p style="margin-bottom: 0px;">Department: @Model.Department.Name</p>

			</div>

			<br />

			<div class="card text-center mt-4">
			  <div class="card-header">
				  ThumbUp: @Model.ThumbUp / ThumbDown: @Model.ThumbDown / Viewer: @Model.View / Rating: @Model.Rating / Comments: @Model.Comments.Count
			  </div>
			  <div class="card-body text-left">
				<p style="margin-bottom: 0; white-space: pre-line">@Model.Content</p>
			  </div>
			  <div class="card-footer">
				@if (@Model.Document == null){
						<p style="margin-bottom: 0">THIS IDEA DOES NOT HAVE DOCUMENT</p>
					} else {
						@Html.ActionLink("DOWNLOAD DOCUMENT", "DownloadDocumentIdea","Staffs", new{id = @Model.Id}, htmlAttributes:null)
					}
			  </div>
			</div>

			<hr />

			 @foreach(var item in Model.Comments)
			 {
				<div class="card mt-3">
				  <div class="card-header d-flex justify-content-between">
					<div>
						@item.User.FullName (@item.User.Email) said
					</div>
					<div class="d-flex" style="gap: 5px;">
						@if (item.UserId == ViewBag.id)
						{
							@Html.ActionLink("", "EditComment", "Staffs", new { id = item.Id }, new { @class = "btn btn-light fa fa-pencil", @style="border: 1px solid rgba(0,0,0,.125)", @title = "Edit" })
							@Html.ActionLink("", "DeleteComment", "Staffs", new { id = item.Id }, new { @class = "btn btn-light fa fa-trash-o", @style="border: 1px solid rgba(0,0,0,.125)", @title = "Delete" })
						}
					</div>
				  </div>
				  <div class="card-body">
					<blockquote class="blockquote mb-0">
					  <p style="font-size: 18px;">@item.Content</p>

					  <footer class="blockquote-footer" style="font-size: 16px;">@item.CreatedAt.ToString("dd/mm/yyyy hh:mm tt")</footer>
					</blockquote>
				  </div>
				</div>
			 }

			<div style="text-align: center; margin-top: 50px; margin-bottom: 4px;">
				<a asp-controller="Staffs" asp-action="IdeaIndex" class="btn btn-dark">Back</a>
				@Html.ActionLink("", "LikeIdea", "Staffs", new { id = @Model.Id }, new { @class="btn btn-success fa fa-thumbs-up", type="button", style="font-size: 25px" })
				@Html.ActionLink("", "DislikeIdea", "Staffs", new { id = @Model.Id }, new { @class = "btn btn-danger fa fa-thumbs-down", type="button", style="font-size: 25px" })
				@Html.ActionLink("Comment", "CreateComments", "Staffs", new { id = @Model.Id }, new { @class = "btn btn-primary ", @title = "Give Comment" })
			</div>



		</div>


	</div>
</body>
